# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a Volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Build output
.build/
PinShot.app/
Packages/
Package.pins
Package.resolved
*.xcodeproj
*.xcworkspace
!default.mode1v3
!default.mode2v3
!default.perspectivev3
!default.pbxuser
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Archival
*.zip
*.tar.gz
